/* import fonts */
@font-face {
    /* for heading */
    font-family: martian;
    src: url("../sources/font/Martian_Mono/MartianMono-VariableFont_wdth\,wght.ttf");
}
@font-face {
    /* to highlight important text */
    font-family: noto;
    src: url("../sources/font/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
    /* just the regular */
    font-family: roboto;
    src: url("../sources/font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
    font-family: raleway;
    src: url("../sources/font/Raleway/static/Raleway-Regular.ttf");
}
